<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/rivet-core@2.5.1/css/rivet.min.css">
    <title>Privacy Policy: IU Remote Work Arrangement - Indiana University</title>
    <style>
      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.625rem;
      }

      h3 {
        font-size: 1.25rem;
      }

      h1, h2, h3, h4 {
        font-weight: bold;
      }

      ul {
        margin-bottom: .8rem;
      }
    </style>
  </head>
  <body>
    <div th:utext="${privacyNoticeText}" class="rvt-container rvt-m-top-md rvt-m-bottom-md"></div>
  </body>
</html>